<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>volandouy_oficial</display-name>

  <!-- Mapea el servlet de ping -->
  <servlet>
    <servlet-name>PingServlet</servlet-name>
    <servlet-class>uy.volando.web.PingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>PingServlet</servlet-name>
    <url-pattern>/ping</url-pattern>
  </servlet-mapping>

  <!-- Página de inicio -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
