.page-bg{
  height: clamp(520px, 86svh, 720px);
  display: grid !important;        /* forzamos grid sobre d-flex */
  place-items: center;
  padding-top: 0 !important;       /* neutralizamos py-5 */
  padding-bottom: 0 !important;

  background:
    linear-gradient(180deg, rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url("../img/avioncito2.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center 37%;
  background-size: 100% 100%, cover;
}

.page-bg .row{ margin-top: 0 !important; }

/* Ajuste para celus: que no quede demasiado grande  SI QUIERO QUE AL ACHICAR SE AJUSTE LA IMAGEN PARA VER
/*@media (max-width: 576px){
  .page-bg{
    background-size: 100% 100%, contain;
    background-position: center center, center 10%;
  }
}*/
@media (min-width: 1400px){
  .page-bg .col-lg-6{ max-width: 600px; }
}

.btn-panel{
  padding: 1.25rem;
  border-radius: .75rem;
  background: rgba(141, 144, 147, 0.28); /* gris (secondary) con transparencia */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  backdrop-filter: blur(3px);         /* opcional: efecto “glass” */
  -webkit-backdrop-filter: blur(3px); /* compatibilidad Safari */
}
